[submodule "3rd/cereal"]
	path = 3rd/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "3rd/googletest"]
	path = 3rd/googletest
	url = https://github.com/google/googletest.git
[submodule "3rd/dbus-cplusplus"]
	path = 3rd/dbus-cplusplus
	url = https://chromium.googlesource.com/chromiumos/third_party/dbus-cplusplus
